footer {
    padding: 15rem 0;

    .footer {
        &__join {            
            &-btn {
                position: relative;
                display: inline-block;
                font-size: 3.6rem;
                font-weight: var(--font-semi-bold);
                letter-spacing: -1px;
                margin: 2rem 0 8rem;
                color: var(--first-color);   
                transition: .3s;                        

                &::after {
                    position: absolute;
                    background: var(--first-color);
                    content: '';
                    width: 100%;
                    height: 3px;
                    bottom: -2px;
                    left: 0;
                    transition: .3s;
                }                

                &:hover {
                    color: var(--text-color);                                                                      

                    &::after {
                        background: var(--text-color);
                    }
                }
            }

            &-text {
                display: none;                              
            }          
        }     

        &__input {
            display: flex;
            width: 100%;
            margin: 5rem 0;

            &-custom {
                background: var(--first-color-alt);
                color: var(--text-color-lighten);
                width: 100%;               
                padding: 2.2rem 3.2rem; 
                border: none;

                &:focus {
                    outline: none;
                }
            }

            &-btn {
                background: var(--first-color);
                font-size: var(--normal-font-size);
                font-weight: var(--font-semi-bold);
                color: var(--text-color);
                padding: 0 3.2rem;
                transition: .3s;

                &:hover {
                    background: var(--text-color);
                    color: var(--first-color-alt);
                }
            }
        }
        
        &__links {
            display: flex;
            justify-content: space-between;       
            line-height: 300%;
            margin-bottom: 5rem;      
            font-size: var(--smaller-font-size); 
            
            &:nth-last-child(1) {
                margin-bottom: 0;       
            }

            &-item {                
                transition: .3s;

                &:hover {                    
                    color: var(--first-color);                    
                }
            }
        }
    }
}