/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
    width: .6rem;
    background: var(--body-color);

    &-thumb{
        background: var(--first-color-alt);
        border-radius: .5rem;
    }
}